#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  /* background-image: url(https://res-global.1315cdn.com:11443/statics/ballon/bg-girl.png),
    linear-gradient(transparent 50%, white),
    url(https://res-global.1315cdn.com:11443/statics/ballon/bg-landscape.png);
  background-size: contain;
  background-position: center, bottom, bottom;
  background-repeat: no-repeat;
  background-blend-mode: soft-light; */
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.ballon {
  position: absolute;
  top: 100%;
  transition: transform 8s linear, opacity 3s linear 5s;
}
